<section class="banner-slider">
  <div class="contain-fluid">
    <div id="carouselExampleDark" class="carousel carousel-light slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2500"
          *ngFor="let b of bannerResult;let i=index" [ngClass]="{active:i===1}">
          <img src="https://image.tmdb.org/t/p/original/{{ b.backdrop_path }}" class="d-block w-100"
            alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h2>{{b.original_title}}</h2>
            <p>{{b.overview}}</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
